.search-bar {
  padding: 55px 0 55px 50px;
  width: 100%;
  align-items: center;
  text-align: left;
}

.search-box {
  margin-right: 10px;
  width: 80%;
  height: 38px;
  vertical-align: middle;
  border-style: none;
  border: 1px solid rgba(63, 63, 63, 0.25);
  font-size: 15px;
}

.search-icon {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  border-style: none;
}